@model TodoCheckerApp.ViewModels.WLK.WalkmanViewModel
@using System.Windows;

@{
    Layout = "~/Views/Shared/_Layout-header.cshtml";
    ViewBag.Title = "";
}

@section Css {
    <link rel="stylesheet" href="@Url.Content("~/css/WLK/Walkman.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/datatables/datatables.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.css")" />
    <link rel="stylesheet" href="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" />

}

@* @using (Html.BeginForm("Index", "Walkman", FormMethod.Post, new { @id = "Walkman" })) *@
@* { *@
@Html.AntiForgeryToken()

<div class="table-contents">
    <table id="foo-table" class="table table-bordered" style="width:100%; table-layout:fixed;">
        <thead>
            <tr>
                <th>タイトル</th>
                <th>アーティスト</th>
                <th>アルバム</th>
                <th>トラック</th>
                <th>リリース</th>
                <th>ジャンル</th>
                <th>国名</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.ViewList)
            {
                <tr>
                    <td>@row.title</td>
                    <td>@row.artist</td>
                    <td>@row.album</td>
                    <td>@row.track</td>
                    <td>@row.release?.ToString("yyyy-MM-dd")</td>
                    <td>@row.genre</td>
                    <td>@row.country</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="bottom-container">
    <button type="button" onclick="newRow()">新規作成</button>
    <button type="button" onclick="clickRegBtn()">登録</button>
    <button type="button" onclick="clickUpdBtn()">更新</button>
    <button type="button" onclick="clickDltBtn()">削除</button>
</div>
@* } *@

@section Script {
    <script src="@Url.Content("~/js/jquery-3.7.1.min.js")"></script>
    <script src="@Url.Content("~/js/datatables/datatables.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap/bootstrap.min.js")"></script>
    <script src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js" defer></script>

    <script src="@Url.Content("~/js/WLK/Walkman.js")"></script>
}
